html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/*#my-custom-font {
    font-family: 'Gruppo', sans-serif;
}*/

* {
    font-family: 'Gruppo', sans-serif;
}

/* Container styling */
/*.container {
    max-width: 1200px;*/ /* Adjust the max width as needed */
    /*margin: 0 auto;
    padding: 40px;*/ /* Adjust the padding as needed */
/*}*/